<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixelexperience.systemuioverlay">

    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.systemui"
                   android:isStatic="true"
                   android:priority="999"/>
</manifest>